</main>
<footer>
    <%= app.company %> -
        <%= app.author %>
</footer>
</div>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/bootstrap.bundle.js"></script>
<script src="/assets/errorMessage.js"></script>
</body>
</html>