<%- include('header') %> 
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, hic explicabo blanditiis obcaecati nesciunt neque sapiente inventore, architecto officia iusto aliquam asperiores. Corrupti repellendus dolores tenetur voluptatibus repellat sapiente. Corporis.</p>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <a class="card-link" href="/newdata">
                <div class="card h-100">
                    <i class="card-img-top bi bi-cash-coin" ></i>
                    <div class="card-body">
                        <p class="card-text">
                            Új tranzakció felvétele az adatbázisba. 
                        </p>
                    </div>
                </div>
            </a>   
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <a class="card-link" href="/flowchart">
                <div class="card h-100">
                    <i class="card-img-top bi bi-bar-chart-line-fill" ></i>
                    <div class="card-body">
                        <p class="card-text">
                            Az ehavi kiadások és bevételek megtekintése diagrammon. 
                        </p>
                    </div>
                </div>
            </a>   
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <a class="card-link" href="/flowchart">
                <div class="card h-100">
                    <i class="card-img-top bi bi-graph-up" ></i>
                    <div class="card-body">
                        <p class="card-text">
                            Az egyenleged megtekinése vonal diagrammon. 
                        </p>
                    </div>
                </div>
            </a>   
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <a class="card-link" href="/flowchart">
                <div class="card h-100">
                    <i class="card-img-top bi bi-calendar3" ></i>
                    <div class="card-body">
                        <p class="card-text">
                            Az ehavi kiadások és bevételek megtekintése napár nézetben. 
                        </p>
                    </div>
                </div>
            </a>   
        </div>
    </div>
<%- include('footer') %> 