<%- include('header') %> 
<h2 class="text-center" >Bejelentkezés</h2>
<hr>
<form method="post" action="/users/login">
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
      <%- include('message') %>
    </div>
    <div class="mb-3 offset-lg-3 col-lg-6"">
      <label for="email" class="form-label">Email cím</label>
      <input type="email" class="form-control" name="email" >
    </div>
    <div class="mb-3 offset-lg-3 col-lg-6"">
      <label for="password" class="form-label">Jelszó</label>
      <input type="password" class="form-control" name="password">
    </div>
  </div>
  <div class="row">
    <div class="offset-lg-3 col-lg-3">
      <button type="submit" class="btn btn-outline-success">Bejelentkezés</button>
      <a  class="btn btn-outline-primary" href="/reg">Regisztráció</a>
    </div>
  </div>
</form>
<%- include('footer') %> 